<%- include("../includes/head.ejs") %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="flex items-center justify-center h-screen bg-gray-100">
                <article class="bg-white p-6 rounded shadow">
                    <h1 class="text-xl font-semibold mb-2">
                        <%= product.title %>
                    </h1>
                    <div>
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>"
                            class="w-48 h-48 object-cover mb-4 rounded">
                    </div>
                    <h2 class="text-xl font-semibold mb-2">
                        <%= product.price %>
                    </h2>
                    <p class="mb-6 text-black-600">
                        <%= product.description %>
                    </p>
                    <div class="flex justify-end gap-6">
                        <form action="/cart" method="post">
                            <button class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700">Add to
                                cart</button>
                        </form>
                    </div>
                </article>
            </main>
            <%- include('../includes/end.ejs') %>